/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

:root {
    --primary-color: #9f3946;
    --secondary-color: #9F5255;
    --accent-color:  #FBDB93;
    --background-color: #9f3946;
    --text-color: var(--primary-color);
}

img {
    width: 100%;
}

video {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="url"], button {
    border-width: 2px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#overlay a {
    color: var(--background-color);
}

#mobileMenu {
    flex: 1;    
}

.image-section {
    justify-content: space-between;
    display: flex;
    gap: 1em;
}

.left-side, .right-side {
    display: inline-block;
}

.image-section .section-image {
    width: 24rem;
    object-fit: cover;
}


/* be default, we style the desktop. We override phone display. */

@media (max-width: 1023px) {
    .image-section {
        flex-direction: column;
    }
    .image-section .section-image {
        width: 100%;
        aspect-ratio: 3 / 2;
    }
    .image-section-right {
        flex-direction: column-reverse;
    }
}

img {
    border-radius: 4px;
}
